name: Generate Tiles and Deploy
on:
  push:
    branches: ["main"]
    paths:
      - 'data/**' # Запускать только если изменились данные

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Tippecanoe
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libsqlite3-dev zlib1g-dev
          git clone https://github.com/felt/tippecanoe.git
          cd tippecanoe
          make -j
          sudo make install
          cd ..

      - name: Generate PMTiles
        run: |
          # Создаем векторные тайлы из GeoJSON
          # -z14: зум до 14, -pf: игнорировать лимиты размера признаков
          tippecanoe -o ekb.pmtiles -z14 -pf --force data/ekb.geojson

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4