name: Build and Deploy Ural Map

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate PMTiles via Docker
        run: |
          mkdir -p data
          # Используем актуальный адрес в GitHub Container Registry
          docker run --rm -v $(pwd)/data:/data ghcr.io/ontheedge/planetiler:latest \
            --download \
            --area=russia/ural-fed-district \
            --output=/data/ural.pmtiles \
            --ram=5 \
            --force

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4