name: Build and Deploy Ural Map

on:
  workflow_dispatch: # Кнопка для ручного запуска
  schedule:
    - cron: '0 0 1 * *' # Раз в месяц

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate PMTiles via Docker
        run: |
          mkdir -p data
          docker run --rm -v $(pwd)/data:/data ontheedge/planetiler:latest \
            --download \
            --area=russia/ural-fed-district \
            --output=/data/ural.pmtiles \
            --nodata \
            --force
          # Флаг --nodata удаляет метаданные OSM, уменьшая размер файла

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.' # Загружаем корень (index.html) и папку data/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4